<h1>{{favorito}}</h1>

<h1>librerias</h1>
<label>Titulo</label><br />
<input type="text" name="cajatitulo" #cajatitulo /><br />
<label>Imagen</label><br />
<input type="text" name="cajaimagen" #cajaimagen /><br />
<label>Descripcion</label><br />
<input type="text" name="cajadesc" #cajadesc /><br />
<button (click)="insertarComic()">Enviar</button>

<div *ngFor="let comic of comics">
    <h1>
        {{comic.titulo}}
    </h1>
    <img src="{{comic.imagen}}" style="width: 300px; height: 400px" />
    <h2>{{comic.descripcion}}</h2>
    <button>Modificar</button>
    <button>Eliminar</button>
    <app-hijocomics [revista]="comic" (seleccionarComic)="seleccionarComicPadre($event)"></app-hijocomics>

</div>

